<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
    <form id="signup-form" method="post" class="form-signup" th:object="${signupForm}" th:action="@{/user/signup}">
        <h1 class="text-center" th:text="#{user.signup.title}"></h1>
        <!--USER ID-->
        <div class="form-group">
            <label for="userId" th:text="#{userId}"></label>
            <input type="text" class="form-control" th:field="*{userId}" placeholder="User Id" name="userId" id="userId" th:errorclass="is-invalid" >
            <div class="invalid-feedback" th:errors="*{userId}"></div>
        </div>
        <!--PASSWORD-->
        <div class="form-group">
            <label for="password" th:text="#{password}"></label>
            <input type="text" class="form-control" th:field="*{password}" placeholder="Password" name="password" id="password" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{password}"></div>
        </div>
        <!--USERNAME-->
        <div class="form-group">
            <label for="userName" th:text="#{userName}"></label>
            <input type="text" class="form-control" th:field="*{userName}" placeholder="name" name="userName" id="userName" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{userName}"></div>
        </div>
        <!--BIRTHDAY-->
        <div class="form-group">
            <label for="birthday" th:text="#{birthday}"></label>
            <input type="text" class="form-control" th:field="*{birthday}" placeholder="birthday" name="birthday" id="birthday" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{birthday}"></div>
        </div>
        <!--AGE-->
        <div class="form-group">
            <label for="age" th:text="#{age}"></label>
            <input type="text" class="form-control" th:field="*{age}" placeholder="age" name="age" id="age" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{age}"></div>
        </div>
        <!--GENDER-->
        <div class="form-group">
            <div th:each="item:${gendeMap}" class="form-check-inline">
                <input type="radio" name="gender" class="form-check-input" th:value="${item.value}" id="radio" th:errorclass="is-invalid">
                <label for="radio" class="form-check-label" th:field="*{gender}" th:text="${item.key}"></label>
            </div>
            <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        </div>
        <input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3">
    </form>
</body>
</html>